body{
  font-family: "Times New Roman", Times, serif;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.inline{
  display: inline;
}

.middle{
  text-align: center;
}

.grid-container {
  display: grid;
}
.item1 {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 10%;
  border: solid 3px black;
}

p{
  display: inline-block;
}
#center{
  text-align: center;
  width: 96%;
}

.height{
overflow: hidden;
}

.left{
  text-align: left;
}

#wrapper {
  width: 100%;
}

.right{
  float: right;
  text-align: right;
}

.column{
  width: 33.33%;
}

.borders{
  border: solid 2px black;
}

table{
  border: solid 1px black;
  border-spacing: 0;
  border-collapse: collapse;
}

.light-text{
  font-weight: lighter;
}

.bold-text{
  font-weight: bold;
}

.col-6{
  width: 50%;
  float: left;
}

.row{
  width: 100%;
}

.col-20{
  float: left;
  width: 20%;
}

.small-text{
  font-size: 14px;
}

.col-80{
  width: 80%;
  float: left;
}

th{
  border: black;
  spacing: 0;
  height: 50px;
}

.cell{
  borde: solid 2.5 black;
}

.cell30{
  width: 30%;
}

.cell33{
  width: 33.333%;
  height: 100%;
}

.cell10{
  width: 10%;
}

.cell8{
  width: 8%
}
